.header.clearfix
	.topBar
		.container
			.row
				.col-md-6.col-sm-5.hidden-xs
					%ul.list-inline
						%li
							%a{ href: '' }
								.fa.fa-twitter
						%li
							%a{ href: '' }
								.fa.fa-twitter
						%li
							%a{ href: '' }
								.fa.fa-twitter
						%li
							%a{ href: '' }
								.fa.fa-twitter
				.col-md-6.col-sm-7.col-xs-12
					%ul.list-inline.pull-right.top-right
						%li.account-login
							Login or Create an account
						%li.searchBox
							%a{ href: '' }
								%i.fa.fa-search
							%ul.dropdown-menu.dropdown-menu-right
								%li
									%span.input-group
										%input.form-control{ type: :text, placeholder: 'Search...'}
										%button.input-group-addon{ type: :submit }
											Submit
						%li.dropdown.cart-dropdown
							%a{ href: '' }
								%i.fa.fa-cart
	%nav.navbar.navbar-main.navbar-default{ role: 'navigation' }
		.container
			.navbar-header
				%button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
					%span.sr-only
						Toggle navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.navbar-brand{ href: '/' }
					= image_tag 'amrap_logo.png'




